body {
  height: 100vh;
  background: #f3f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.container {
  margin: 20px auto;
  min-width: 30vw;
  background-color: white;
  padding: 30px 20px 30px;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.178);
  border-radius: 10px;
}
.form--title {
  font-size: 40px;
}
.form--text {
  font-size: 20px;
}
.form--item {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
}
.form--label {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}
.form--input {
  padding: 20px;
  font-size: 20px;
  background-color: #f3f4f8;
  border: none;
  flex: 1;
}
.form--select {
  background-color: #f3f4f8;
  font-size: 20px;
  margin-right: 10px;
  border: none;
  overflow: hidden;
  padding: 20px;
}
.form--item__phone-nb {
  display: flex;
}
.form--text a {
  color: blue;
  font-size: 20px;
}
.form--btn {
  font-size: 30px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  color: white;
  background-color: rgba(0, 0, 255, 0.507);
  margin-bottom: 40px;
}
.form--btn:hover {
  background-color: rgba(0, 0, 255, 0.671);
}
.form--input:focus {
  outline: none;
  background-color: #caccd4;
}
a {
  font-size: 30px;
}

.form--select:focus {
  outline: none;
  background-color: #caccd4;
}
